# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/noVersion/buildLogic.lock
/android/.gradle/8.10.2/checksums/checksums.lock
/linux/flutter/ephemeral/.plugin_symlinks/connectivity_plus/
/windows/flutter/ephemeral/.plugin_symlinks/connectivity_plus/
/devtools_options.yaml
/android/.gradle/8.10.2/executionHistory/executionHistory.bin
/android/.gradle/8.10.2/executionHistory/executionHistory.lock
/android/.gradle/8.10.2/fileHashes/fileHashes.bin
/android/.gradle/8.10.2/fileHashes/fileHashes.lock
/windows/flutter/ephemeral/.plugin_symlinks/firebase_core/
/linux/flutter/ephemeral/.plugin_symlinks/flutter_local_notifications_linux/
/android/.gradle/8.10.2/dependencies-accessors/gc.properties
/android/.gradle/8.10.2/gc.properties
/macos/Runner/GoogleService-Info.plist
/android/.gradle/8.10.2/fileChanges/last-build.bin
/android/.gradle/8.10.2/checksums/md5-checksums.bin
/pubspec.lock
/android/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
/android/.gradle/8.10.2/checksums/sha1-checksums.bin
/linux/flutter/ephemeral/.plugin_symlinks/connectivity_plus/
/windows/flutter/ephemeral/.plugin_symlinks/connectivity_plus/
/windows/flutter/ephemeral/.plugin_symlinks/firebase_core/
/linux/flutter/ephemeral/.plugin_symlinks/flutter_local_notifications_linux/
/linux/flutter/ephemeral/.plugin_symlinks/connectivity_plus/
/windows/flutter/ephemeral/.plugin_symlinks/connectivity_plus/
/windows/flutter/ephemeral/.plugin_symlinks/firebase_core/
/linux/flutter/ephemeral/.plugin_symlinks/flutter_local_notifications_linux/
/windows/flutter/ephemeral/.plugin_symlinks/connectivity_plus/
